<div class="container">
  <div class="row">
    
    <%= form_with(model: share, local: true) do |f| %>

      <% if share.errors.any? %>
        <div id="error_explanation" class="alert alert-warning" role="alert">
          <ul class="mb-0">
            <% share.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul> 
        </div>
      <% end %>
  
      <div class="form-group">
        <%= f.label :title, 'タイトル  (自由なタイトルをつけよう！)※30字以内' %>
        <%= f.text_field :title, class: 'form-control' %>
      </div>
  
      <div class="form-group">
        <%= f.label :content, '内容  (感想や思い出を書こう！) ※225字以内' %>
        <%= f.text_area :content, class: 'form-control' %>
      </div>
  
      <div class="form-group">
        <%= f.label :place, '場所  (名前や地名などを書こう！)※30字以内' %>
        <%= f.text_field :place, class: 'form-control' %>
      </div>
  
      <%= f.submit '投稿' %>
    <% end %>
    
  </div>
</div>

