<div class="container">
  <div class="header">
    <%= link_to new_share_path, method: :get do %>
      <i class="fas fa-plus fa-3x text-right"></i>
    <% end %>
  </div>
  
  <div class="row">
    <% @shares.each do |share| %>
      <div class="col-md-4">
        <%= link_to share, class:'show_link' do %>
          <div class="card mt-4">
            <div class="card-header">
              <h6 class="text-center md-0"><%= share.title %></h6>
              <p class="text-right mb-0"><%= '@' + share.user.name %></p>
            </div>
            <div class="card-body">
              <p><%= simple_format(share.content.truncate(225, omission: '続きを読む')) %></p>
             
            </div>
            <div class="card-footer">
              場所: <%= share.place %>
              <p class="text-right mb-0"><%= I18n.l(share.created_at, format: :default) %></p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %> 
  </div>
  
  <div class="page mt-5 mb-5">
    <%= paginate @shares %>
  </div>

</div>

