<h1>投稿一覧</h1>
<div class="container">
  <div class="row">
    <% @shares.each do |share| %>
      <div class="col-md-4">
        <div class="card mt-4">
          <%= link_to share.id, share %>
          <div class="card-header text-center">
            <%= share.title %>
          </div>
          <div class="card-body">
            <p><%= share.content %></p>
            <p class="text-right">場所：<%= share.place %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= paginate @shares %>

<button>
  <%= link_to '投稿する', new_share_path, class: "btn btn-secondry" %>
</button>

