<h1>詳細ページ</h1>

<div class="card">
  <div class="card-header text-center">
    <%= @share.title %>
  </div>
  <div class="card-body">
     <p><%= @share.content %></p>
     <p class="text-right">場所：<%= @share.place %></p>
  </div>
</div>

          


<%= link_to '一覧に戻る', shares_path %>
<%= link_to 'この投稿を編集する', edit_share_path(@share) %>
<%= link_to 'この投稿を削除する', @share, method: :delete, data: { confirm: '本当に削除してよろしいですか？' } %>

